<div class="wrapper">
   <div class="card">
        <div class="title"><p style="padding:20px; margin:0px;">Zaloguj</p></div>
        <div class="content">
            <form action="signIn.php"  method="post">
                <p>Login:</p>
                <input name="login" type="text" />
                <p>Hasło:</p>
                <input name="password" type="password" />
                <div style="width:100%">
                    <button class="btn-primary">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>
</div>
