<div class="wrapper">
    <div class="card">
        <div class="title"><p style="padding:20px; margin:0px;">Zarejestruj</p></div>
        <div class="content">
            <form method="post" action="signUp.php">
                <p>Login:</p>
                <input name="login" type="text" />
                <p>Hasło:</p>
                <input name="password" type="password" />
                <p>Powtórz hasło:</p>
                <input type="password" />
                 <div style="width:100%">
                     <button class="btn-primary">Rejestracja</button>
                 </div>  
            </form>
        </div>
    </div>
</div>